.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 25%;
}
.btn{
    width: 25%;
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid blue;
}

