.main-nav{
    background-color: black;
    color: white;
    width: 100%;
    padding:20px
}
.main-nav a{
    color:white;
    text-decoration:none;
    margin:0px 5rem 0px 10px;
}

.main-nav a.active{
    color: purple;
    font-weight: bold;
}