.main-home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.blog{
    position: absolute;
    top: 50%;
    left: 8%;
}
.blog a button{
    display: flex;
    justify-content: center;
    border: 0.5px solid rgb(0, 206, 233);;
    color: white;
    border-radius: 10px 20px 10px 20px;
    width: 9rem;
    max-width: 10rem;
    font-size: 18px;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;
}
.blog a button:hover{
    opacity: 1;
}

.blog a button svg{
    color: white;
    margin-left: 5px;
    animation: iconAnim 1s infinite alternate-reverse;
}
@keyframes iconAnim {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(10px);
        opacity: 0;
    }
}